/* Styles for the whole comment-wrapper: */
div#stab-github-comments-container {
	> hr:first-child {
		+ h3 {
			margin:1.5em 0;
		}
	}
	
	hr#poster-and-comments-separator {
		margin: 1.5em 0;
	}
	
	> div {
		> div.comment {
			&.media {
				margin-top: 2.5em;
				
				&:first-of-type {
					margin-top: 0;
				}
				&:last-of-type {
					margin-bottom: 2.5em;
				}
			}
			
			div.media-left {
				padding:0 .75ex 0 0;
				
				img {
					max-width: 50px;
					max-height: 50px;
				}
			}
			
			div.media-body {
				padding: 0 .5ex .5ex;
				background-color: #f2f2f2;
				
				h4 {
					margin: .5ex auto 0;
					
					> small {
						font-size: 75%;
						font-style: italic;
						display: block;
						margin-top: 1ex;
					}
				}
				
				span.label {
					display: inline-block;
					vertical-align: top;
					
					span.glyphicon {
						font-size: 90%;
					}
					
					&[ng-click] {
						cursor: pointer;
					}
					
					&[disabled],
					&.disabled {
						opacity: .5;
						cursor: not-allowed;
					}
				}
				
				div.controls-extra {
					&.pull-right {
						span.label {
							margin-right: .25ex;
							
							&:last-of-type {
								margin-right: 0;
							}
						}
					}
				}
				
				hr {
					border-top-color: #fff;
					margin: .5em 0 .5em;
				}
				
				p {
					margin: 0;
				}
			}
			
			/* Styles for editing an existing comment: */
			div.edit-comment-inplace {
				textarea {
					display:block;
					width:100% !important;
					height:8em;
					font-size:75%;
					margin:0;
					padding:.5ex;
				}
			}
		}
	}
}
/* /Wrapper */

/* Styles for creating a Post: */
div#create-post {
	> div:first-child {
		padding:1ex;
		background-color:#f4f4f4;
		> div:first-child {
			> div {
				background-color:#eee;
				
					> h4 {
					background-size:contain;
					height:60px;
					padding-left:65px;
					line-height:60px;
					background-repeat:no-repeat;
					display:inline-block;
					margin: 0;
				}
			}
					
			+ div {
				padding: 1ex 0;
				
				> textarea {
					display:block;
					width:100% !important;
					height:8em;
					font-size:75%;
					margin:0;
					padding:.5ex;
					
					&[disabled] {
						height: 4em;
					}
				}
			}
		}
	}
}
/* /Post */


div#stab-github-comments-container {
	/* Fix styles for disabled buttons within button-groups: */
	div.btn-group {
		button.btn:disabled {
			cursor: not-allowed;
			color: #333;
		}
	}
	/* /Fix buttons in button groups */

	div[btf-markdown] {
		padding: .25ex .5ex;
		font-size: 80%;
		background-color: #fff;
	}

	button.btn:not([role="authorize"]) {
		padding: 6px 12px;
	}

	/* Some mobile fixes */
	@media only screen and (max-width: 767px) {
		div.controls-extra {
			float:none !important;
			display: inline !important;
		}
	}
	/* /Mobile fixes */	
}
